<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineView</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/index_scripts.js"></script>
</head>
<body>
    <div class="container">
        <h1>🎬CineView</h1>
        <h2>¡El portal donde las películas son caladas y las críticas no se quedan calladas!</h2>
        <form id="loginForm">
            <div class="form-group">
                <label for="username">Correo Electrónico:</label>
                <input type="email" id="username" name="username" placeholder="Introduce tu correo electrónico" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Introduce tu contraseña" required>
            </div>
            <div class="button-group">
                <button type="button" id="registerBtn">🌟¿Una nueva estrella? ¡Regístrate!</button>
                <button type="submit" id="loginBtn">🖋Entra, ¡Toma asiento!</button>
            </div>
        </form>
    </div>
</body>
</html>
